* {
  margin: 0;
  padding: 0;
}

/*--Navbar Section--*/

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.container .links {
  /* margin-left: 50px; */
  text-align: left;
}

.text-b {
  font: Bold 18px/22px Proxima Nova;
  letter-spacing: 0.36px;
  color: #171819;
  opacity: 1;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

nav ul li a {
  font-weight: 100;
  font-size: 1rem;
}
.navbar {
  /* padding-right: 0 !important; */
  padding-left: 15px;
  margin: 0 !important;
}

/*--Banner Section--*/

.banner {
  background-image: linear-gradient(to right, #202a5d, #090e14);
  color: #fff;
  border: 2px solid black;
  padding-bottom: 0;
  padding-top: 70px !important;
}

/*--Animation Section--*/

.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 20s linear infinite;
  bottom: -150px;
}
.box-area li:nth-child(1) {
  left: 75%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.box-area li:nth-child(2) {
  left: 10%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}
.box-area li:nth-child(3) {
  left: 65%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
  left: 38%;
  width: 110px;
  height: 110px;
  animation-delay: 0s;
  animation-duration: 15s;
}
.box-area li:nth-child(5) {
  left: 60%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}
.box-area li:nth-child(6) {
  left: 10%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}
.title {
  text-align: center;
  color: white;
  font-weight: 60px;
  font-size: 30px;
  font-family: sans-serif;
  letter-spacing: 3px;
  margin-left: 50px;
  padding-top: 0;
  padding-bottom: 0;
}

.text {
  color: #8e8e8e;
  font-weight: 300;
  margin-left: 50px;
}

#center {
  margin-top: 18px;

  text-align: center !important;
  display: block;
  margin-bottom: 22px;
}
.banner a {
  text-decoration: none !important;
  color: #8e8e8e;
  font-weight: 300;
  margin-left: 50px;
}
.intro {
  color: #4783c4;
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  margin: 8px;
  font-style: italic;
  font-family: Avenir LT Std;
  text-shadow: 0px 3px 6px #010829;
}
.banner {
  padding-bottom: 20px;
}
/*--Footer Section--*/

.full-footer {
  background-image: linear-gradient(to right, #202a5d, #090e14);
}
.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
}
@media screen and (max-width: 480px) {
  /* width: 100% !important; */
  .row {
    margin-left: 0px;
  }
  .full-footer {
    margin-right: -10px;
  }
  .banner {
    margin-right: -10px;
  }
}
.footer h4 {
  color: white;
}
footer a {
  color: white !important;
}
hr.line {
  border: 1px solid white;
  width: 50px;
}
.footer {
  padding-bottom: 0 !important;
}

/*About Section*/

.abt1 {
  padding-bottom: 0px !important;
  font-family: Candara;
}
.abt2 {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  letter-spacing: 2px;
  font-family: Helvetica;
}
.bot {
  padding-left: 0px !important;
  width: 500px;
}
.abt3 {
  margin-top: 10px;
}

/*Services Section*/

.hidden {
  margin-top: 7px;
}
/*.service-box {
  box-shadow: 0 0 4px 0 #202a5d;
  position: relative;
  padding: 10px;
}*/
.border {
  width: 160px;
  height: 5px;
  background: #202a5d;
  margin: 26px auto;
}

/*Testimonial Section*/

.img-text {
  box-shadow: 0 0 4px 0 #202a5d;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 2px;

  height: 300px;
  display: block;
  text-align: center;
  padding: 20% 5%;
  border-radius: 15px;
}
.stars {
  color: goldenrod;
  margin-bottom: 15px;
}
.slide {
  margin-top: 0px !important;
  padding-bottom: 50px;
  padding-top: 20px;
}
.carousel-indicators {
  left: 0;
  top: auto;
}

/*Newsletter Section*/

.home-newsletter {
  background-image: linear-gradient(to right, #202a5d, #090e14);
  color: #fff;
}
.home-newsletter .form-control {
  height: 50px;
  border-color: transparent;
  border-radius: 20px 0 0 20px;
}
.home-newsletter .btn {
  min-height: 50px;
  border-radius: 0 20px 20px 0;
  background: #4783c4;
  color: white;
}

/*--Awards Section--*/

.clients-section {
  background-color: #ffffff;
}
